body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #ffffff;

}

h1 {
    font-size: 100%;
    margin-bottom: 3px;
    margin-left: 5px;
}

h2 {
    font-size: 100%;
    margin-left: 15px;
}

.yes {
    color: green;
}
.no {
    color: red;
}

.key {
    font-family: courier, monospace;
    color: #000099;
}